.header {
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 240px) minmax(auto, 1200px) 1fr;
  align-items: center;
  background-color: var(--dark-green);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.header__logo {
  grid-column: 2 / 3;
}

.header__logo-img {
  background-color: var(--green);
  border: 2px solid var(--white);
  border-radius: 50%;
}

.header__menu {
  grid-column: 3 / 4;
}

.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}

.header__link {
  padding-bottom: 36px;
  color: var(--white);
  transition: border 0.2s step-end;
}

.header__link:hover {
  border-bottom: 5px solid var(--white);
}